@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --black: rgb(22, 22, 22);
  --black-tp: rgba(0, 0, 0, 0.897);
  --white: rgb(255, 255, 255);
  --main: #000000;
  --sec: #0c0c0c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;

}

::-moz-selection {
  /* Code for Firefox */
  color: var(--scend-color);
  background: var(--main-color);
}

::selection {
  color: var(--white);
  background: var(--main);
}

*:hover,
*:focus {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* background-color: #0D0D0D; */
  /* color: #fff; */
  font-family: 'Lato', sans-serif;
  overflow-x: hidden !important;
  width: 100vw;
  z-index: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 50px;
}

.Toastify__toast-container {
  z-index: 99999999 !important;
}

.Toastify__toast.Toastify__toast-theme--light {
  background-color: #46464652 !important;
  backdrop-filter: blur(20px);
  border-radius: 0px !important;
}

.Toastify__close-button.Toastify__close-button--light {
  color: #fff !important;
}

.Toastify__toast-body {
  color: #fff !important;
}



.tabsearchBox .wrapper:first-child {
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent;
  box-shadow: none !important;
}

.tabsearchBox div.wrapper div input {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.tabsearchBox .wrapper>div:nth-child(2) {
  background-color: #fff !important;
  display: block !important;
  border: none !important;
}

.btn {
  border-radius: 50px;
  background: #0b0b0b;
  padding: 15px 20px;
  flex-shrink: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: 30px;
  /* 166.667% */
  text-transform: uppercase;
}

.tabinput {
  border: none;
  border-bottom: 2px solid var(--main);
  padding: 10px 0px;
  font-weight: bold;
  background-color: transparent;

  width: 100%;
}

.tabinput::placeholder {
  font-weight: bold;
  color: #0b0b0bb4;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0px 10px;
  }
}