.airport {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr) 120px;
    gap: 50px;

    width: 100%;
    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
    }
    div {
        width: 100%;
        label {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 14px;
        }
        input {
            width: 100%;
            display: block;
        }
    }
}
